# SPDX-FileCopyrightText: 2025 DESY and the Constellation authors
# SPDX-License-Identifier: CC0-1.0

# Ignore redirect wrap files
*.wrap
!constellation.wrap

# Ignore write lock
/.wraplock

# Ignore any created folders
/*/
